<% obj.each do|article|%>
<div class="article-list mb-2">
  <div class="row">
   <div class="offset-2 col-lg-8 col-xs-10 ">
    <div class="card bg-light">
     <div class="card-body">
      <div class="article-title">
        <%=  link_to article.title,article_path(article) %>
      </div>
      <div class="article-body py-3">
        <%= truncate(article.description,length:200) %>
      </div>
      <div class="py-2 border-top border-bottom border-light">
        <small>
          created by: <%= article.user.username if article.user%>
          <%= time_ago_in_words(article.created_at)%> ago,
          last update: <%= time_ago_in_words(article.updated_at) %> ago
        </small>
      </div>
      <% if logged_in? &&  current_user == article.user %>
      <div class="article-action">
        <%= link_to "Edit Article ",edit_article_path(article),class:"btn btn-sm btn-primary"%>
        <%= link_to "Delete Article", article_path(article), method: :delete,
            data: { confirm: "Are you sure you want to delete the article?"},
            class: "btn btn-sm btn-danger" %>
      </div>
      <% end %>
     </div>
    </div>
   </div>
  </div>
</div>
<% end %>
