<!-- for checking error during save -->
<%= render 'shared/errors',obj:@article %>
<!-- form for creating new article -->
<div class="container">
  <div class='row'>
    <div class='col-lg-12'>
      <%= form_for(@article, :html => {class: "form-horizontal", role: "form"}) do |f| %>

        <div class="row">
          <div class="col-form-label col-sm-1 offset-1 ">
            <%= f.label :title %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :title, class: "form-control", placeholder: "Title of article", autofocus: true %>
          </div>
        </div>

        <div class="row">
          <div class="col-form-label col-sm-1 offset-1">
            <%= f.label :description %>
          </div>
          <div class="col-sm-8">
            <%= f.text_area :description, rows: 8, class: "form-control", placeholder: "Body of article" %>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="offset-2 col-sm-10">
            <%= f.submit class: 'btn btn-primary btn-lg' %>
          </div>
          <div class="col-xs-4 offset-4">
            [
            <%= link_to "Cancel request and return to articles listing", articles_path %>
            ]
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>
