<br>
<h1 align="center">Listing Articles</h1>
<br>
<div class="container">
  <table>
    <tr>
      <th>Title</th>
      <th>Description </th>
    </tr>
    <% @articles.each do|article|%>
    <tr>
      <td><%= article.title %></td> &nbsp; &nbsp;
      <td><%= article.description %></td> &nbsp; &nbsp;
      <td><%= link_to "show",article_path(article) %></td> &nbsp; &nbsp;
      <td><%= link_to "Edit",edit_article_path(article) %></td> &nbsp;  &nbsp;
      <td><%= link_to "Delete",article_path(article),method: :delete,data: {confirm:"are you sure?"} %></td>
    </tr>
    <% end %>
  </table>
</div>
