
<h2 align="center">Title: <%= @article.title %><br></h2>
<div class="row">
  <div class="card col-lg-8 offset-2">
    <div class="card-body">
      <h4>  <strong>Description </strong></h4>
      <br>
      <%= simple_format(@article.description) %>
       <%= link_to "Edit Article ",edit_article_path(@article),class:"btn btn-sm btn-primary"%>
       <%= link_to "Delete Article", article_path(@article), method: :delete,
           data: { confirm: "Are you sure you want to delete the article?"},
           class: "btn btn-sm btn-danger" %>
       <%= link_to "View all Article",articles_path,class:"btn btn-sm btn-success" %>
    </div>
  </div>
</div>
