
<h2 class="text-center">Title: <%= @article.title %><br></h2>
<div class="row py-3">
  <div class="card bg-light col-lg-8 offset-2">
    <div class="card-body">
      <ul class='list-unstyled'>
        <div class = row>
          <div class='text-center col-12 py-2'>
            <li class='py-2'> created by :</li>   
            <li><%= link_to gravatar_for(@article.user),user_path(@article.user) %></li>
            <li class='py-1 article-title'><%= link_to @article.user.username,user_path(@article.user) %></li> 
            <li><small><%= pluralize(@article.user.articles.count,'article') if @article.user.articles %></small></li>   
          </div>
        </div>  
      </ul>
      <h4>  <strong>Description </strong></h4>
      <br>
      <%= simple_format(@article.description) %>
        <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
          <%= link_to "Edit Article ",edit_article_path(@article),class:"btn btn-sm btn-primary"%>
          <%= link_to "Delete Article", article_path(@article), method: :delete,
              data: { confirm: "Are you sure you want to delete the article?"},
              class: "btn btn-sm btn-danger" %>
        <% end %>
        <%= link_to "View all Article",articles_path,class:"btn btn-sm btn-success" %>
    </div>
  </div>
</div>
